<!-- 페이지 로딩속도를 높이기 위해 css는 header에, js는 footer 에 둔다.
    추가로 bootstrap.js의 경우 jquery가 있어야 돈다. 그래서 jquery를 앞에 두어야 한다.
 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- index.js 추가 -->
<script src="/js/app/index.js"></script>
</body>
</html>